// Отступы
$mini-gap: 8px;
$mid-gap: 16px;
$big-gap: 24px;
// Размеры шрифтов
$big-font-size: 16px;
$md-font-size: 14px;
$sm-font-size: 12px;
// Цвета
$color-primary: #7397F5;
$color-font-main: #333333;
$color-font-secondary: #AAAAAA;
$border-color: #D5D5D5;